node_modules
*.db
*.log
.env
/media/player_images/

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Mac / Linux
.DS_Store
Thumbs.db
